.projectTitle {
	font-family: 'Apercu', sans-serif;
	font-weight: bolder !important;
	font-style: normal;
	margin-top: 0.25rem;
	font-weight: 700;
	color: #2a2a3a !important;
	text-transform: uppercase;
}
